
<div class="all">
  <div id="nav" class="nav">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% end %>
  </div>
  <div id="app" class="app"></div>
</div>