.NotesList {
  position: relative;
  float: left;
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(50,50,50);
}
.note-list-tile {
  position: relative;
  float: middle;
  width: calc(100% - 20px);
  height: 100px;
  background: rgb(65,65,65);
  margin: 10px auto;
  font-size: 14pt;
}